<div class='col_fade'>
  <p>WXOPEN Club 社区为国内最专业的微信小程序技术社区，致力于微信小程序的技术研究。</p>
  <p><a class='grey' target='_blank' href='https://github.com/cnodejs/nodeclub/'>社区由 Nodeclub 驱动</a>&nbsp;|&nbsp;
    <a class='grey' href='http://t.cn/zjxZrUk' target='_blank'>服务器搭建在&nbsp;<img style="vertical-align: text-bottom;" width="48px" src='https://img.alicdn.com/tps/TB1mr3_LXXXXXbIXpXXXXXXXXXX-130-43.png' alt='阿里云' /></a>
    &nbsp;|&nbsp;
    <a class='grey' href="https://portal.qiniu.com/signup?code=3lqwoelft3qky" target="_blank"
      class="sponsor_outlink" data-label="qiniu_bottom">
      存储赞助商为<img src="https://ogo92oag1.qnssl.com/qiniu.png" title="七牛云存储"
      alt="七牛云存储" style="vertical-align: text-bottom;" width="45px"/>
    </a>
  </p>
  <p>&copy;&nbsp;2016 - 2017 WXOPEN Club</p>
</div>
