<%- partial('sidebar') %>

<div id="content">
  <div class="panel">
    <div style="margin-bottom: 12px;display: flex;background-color: #FFFFFF;">
      <a href="http://wxopen.club/topic/582d4999745f85100cd13a65" target="_blank" style="display: inline-block;padding-top: 10px; float:left;width:25%;padding-right: 10px;border-right:1px solid #f0f0f0;"><img src="https://ogo92oag1.qnssl.com/banner-full_01.jpg" style="float:left;"/></a>
      <a href="http://tech.parryqiu.com/lesson/webpack2.html" target="_blank" style="display: inline-block;padding-top: 10px; float:left;width:25%;padding-bottom: 10px;border-right:1px solid #f0f0f0;"><img src="https://ogo92oag1.qnssl.com/banner-full_02.jpg" style="float:left;"/></a>
      <a href="http://coding.imooc.com/class/83.html" target="_blank" style="display: inline-block;padding-top: 10px;float:left;width:25%;padding-bottom: 10px;border-right:1px solid #f0f0f0;"><img src="https://ogo92oag1.qnssl.com/react-banner.png" style="float:left;"/></a>
      <a href="http://regex.parryqiu.com/" target="_blank" style="display: inline-block;padding-top: 10px; float:left;width:25%;padding-bottom: 10px;"><img src="https://ogo92oag1.qnssl.com/regex-banner.png" style="float:left;"/></a>
    </div>
    <div class="header">
      <% [['all', '全部'], ['good', '精华']].concat(tabs).forEach(function (pair) {
        var value = pair[0];
        var text = pair[1]; %>
        <a href="<%= value ? '/?tab=' + value : '/' %>"
          class="topic-tab <%= value === tab ? 'current-tab' : '' %>"><%= text %></a>
      <% }) %>
    </div>
    <% if (typeof(topics) !== 'undefined' && topics.length > 0) { %>
    <div class="inner no-padding">
      <%- partial('topic/list', {
      topics: topics,
      pages: pages,
      current_page: current_page,
      base: '/'
      }) %>
    </div>
    <% } else { %>
    <div class="inner">
      <p>无话题</p>
    </div>
    <% } %>
  </div>
</div>
