<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
WXOPEN Club 社区为国内最专业的微信小程序技术社区，致力于微信小程序的技术研究。

WXOPEN Club 社区由一批热爱并积极开始投入微信小程序研究并开发的朋友维护。

社区免费为开发者们搭建起了一个学习交流之平台，也希望朋友们遵循技术社区基本的礼貌与素质，文明交流、乐于分享。

社区目前由 [@Parry](http://weibo.com/parryqiu) 在维护，有问题请联系：[https://github.com/ParryQiu](https://github.com/ParryQiu)

*/
        })) %>
      </div>
    </div>
  </div>
</div>
